.img{
    width:70%;
    margin:auto; 
}
.it1{
    margin-top:5%;
}
.row1{
    padding-left:10%;
    width:80%; 
    border: 2px solid #426161;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
} 
.it2{
    margin-left:-14%;
}
.row2{
    padding-left:10%;
    border: 2px solid #426161;
    margin-top: 3%;
    width:80%;
    margin-left:10%;
    padding-left: 0%;
}
.it3{
    float:right;
    margin-left: 67%;
    margin-top: -9%;
    --min-height:25px;
}
.lb1{
    color:#ef964b;
    text-align: center;
}
.div1{
    margin-top:4%;
    text-align: center;
    margin-left: 29%;
}
.error-messages{
    font-size:0.7 rem;
    color:red;
    text-align:center;
}