<ion-header no-border>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formgroup">
    <ion-item lines="none" class="it1">
      <img class="img" src="assets/imgs/logo1.png" />
    </ion-item>

    <ion-row class="row1">
      <ion-row>
        <ion-item class="inputbox" class="it2">
          <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-input formControlName="email" placeholder="Johndoe@john" [(ngModel)]="loginData.email" type="email"
            class="email" name="email"></ion-input>
        </ion-item>
      </ion-row>
    </ion-row>

    <div class="error-messages" *ngIf="email.hasError('required') && email.touched">
      <p> *Email is required</p>
    </div>
    <div class="error-messages" *ngIf="email.hasError('pattern') && (email.dirty || email.touched)">
      <ion-icon name="information-circle-outline"></ion-icon> Please enter a valid email
    </div>
    <ion-row class="row2">
      <ion-item class="inputbox">
        <ion-icon name="lock"></ion-icon>&nbsp;&nbsp;&nbsp;
        <ion-input formControlName="password" style="margin-bottom:0px;max-width: 59%" placeholder="Password"
          [(ngModel)]="loginData.password" type="password" class="email" name="password"></ion-input>
      </ion-item>&nbsp;&nbsp;&nbsp;
      <ion-item class="it3" lines="none">
        <label lines="none" class="lb1" text-center [routerLink]="'/forgot '" (click)="forgot()" routerDirection="forward">Forgot ?</label>
      </ion-item>
    </ion-row>
    <div class="error-messages">
      <div *ngIf="password.hasError('required') && password.touched">
        <p> *Password is required</p>
      </div>
    </div>

    <ion-row>
      <ion-col>
        <div class="ion-text-center" style="margin-top:5%">
          <ion-button [disabled]="!formgroup.valid" color="medium" shape="round" style="width: 40%" (click)="login()"
            routerDirection="forward">LOGIN</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <div class="div1">
          <p style="float:left;">Not A Member ?&nbsp;&nbsp; </p>
          <p style="float:left;color:#ef964b;" [routerLink]="'/signup'" routerDirection="forward">Sign Up</p>
        </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
