<ion-header>
  <ion-title>
    Image Gallery
  </ion-title>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="galleryType" color="primary">
    <ion-segment-button value="regular">
      Regular
    </ion-segment-button>
    <ion-segment-button value="pinterest">
      Pinterest
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="galleryType">
    <!-- Responsive Layout with Ion Grid-->
    <ion-grid *ngSwitchCase="'regular'">
      <div *ngFor="let img of images">
        <img src="assets/imgs/images/{{img}}" class="thumb-img" tappable (click)="openPreview(img)" imageViewer />
      </div>
    </ion-grid>
    <!-- More Pinterest floating gallery style -->
  </div>
</ion-content>