<ion-content>
  <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="back()" fill="clear" color="red">
      <ion-icon name="ios-arrow-round-back" slot="start"></ion-icon>
    </ion-button>
  </ion-item>
  <form [formGroup]="formgroup">
    <ion-item lines="none" class="it">
      <img class="img" src="assets/imgs/logo1.png" />
    </ion-item>
    <ion-row class="row1">
      <ion-row>
        <ion-item class="it1">
          <ion-icon name="person"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-input formControlName="username" placeholder="Username" [(ngModel)]="regData.username" type="text"
            name="username"></ion-input>
        </ion-item>
      </ion-row>
    </ion-row>

    <div class="error-messages">
      <div *ngIf="username.hasError('required') && username.touched">
        <p> *Username is required</p>
      </div>
      <div *ngIf="username.hasError('pattern') && (username.dirty || username.touched)">
        <ion-icon name="information-circle-outline"></ion-icon> Please enter a valid username
      </div>
    </div>
    <ion-row class="row2">
      <ion-row>
        <ion-item class="it2">
          <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-input formControlName="email" placeholder="Johndoe@john" [(ngModel)]="regData.email" type="email"
            name="email"></ion-input>
        </ion-item>
      </ion-row>
    </ion-row>

    <div class="error-messages" *ngIf="email.hasError('required') && email.touched">
      <p> *Email is required</p>
    </div>
    <div class="error-messages" *ngIf="email.hasError('pattern') && (email.dirty || email.touched)">
      <ion-icon name="information-circle-outline"></ion-icon> Please enter a valid email
    </div>

    <ion-row class="row3">
      <ion-row>
        <ion-item class="it3">
          <ion-icon name="lock"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-input formControlName="password" placeholder="Password" [(ngModel)]="regData.password" type="password"
            name="password"></ion-input>
        </ion-item>
      </ion-row>
    </ion-row>

    <div class="error-messages">
      <div *ngIf="password.hasError('required') && password.touched">
        <p> *Password is required</p>
      </div>
    </div>

    <ion-row class="row4">
      <ion-row>
        <ion-item class="it4">
          <ion-icon name="call"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-input formControlName="tel" placeholder="Mobile No" [(ngModel)]="regData.mobile" type="tel" name="tel">
          </ion-input>
        </ion-item>
      </ion-row>
    </ion-row>

    <div class="error-messages" *ngIf="tel.hasError('required') && tel.touched">
      <p> *Mobile no is required</p>
    </div>
    <div class="error-messages" *ngIf="tel.hasError('pattern') && (tel.dirty || tel.touched)">
      <ion-icon name="information-circle-outline"></ion-icon> Please enter a valid phn num
    </div>

    <ion-row>
      <ion-col>
        <div class="ion-text-center" style="margin-top:5%">
          <ion-button [disabled]="!formgroup.valid" color="medium" shape="round" (click)="reg()" style="width: 40%"
            routerDirection="forward">Reg</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-center" style="margin-top:-3%">
          <ion-button color="medium" shape="round" style="width: 40%" [routerLink]="'/signin'"
            routerDirection="forward">LOGIN</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

