.img{
    width:70%;
    margin:auto;
    margin-top:-5%;
}
.it{
    margin-top:5%;
}
.it1{
    margin-left:-14%;
}
.it2{
    margin-left:-14%;
}
.row1{
    padding-left:10%;
    border:2px solid #426161;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
}
.row2{
    padding-left:10%;
    border:2px solid #426161;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
.it3{ 
    margin-left:-14%;
}
.it4{
    margin-left:-14%;
}
.row3{
    padding-left:10%;
    border:2px solid #426161;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:3%;
}
.row4{
    padding-left:10%;
    border:2px solid #426161;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:3%;
}
.btn{
    margin:auto;
} 
.btn1{
    margin:auto;
}
.error-messages{
    font-size:0.7 rem;
    color:red;
    text-align:center;
}
.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 2rem;
    }
    margin-top: 10px;
}