<ion-content fullscreen>
  <ion-row>
    <ion-col>
      <ion-item class="close-fake" lines="none" text-center>
        <ion-button (click)="close()" fill="clear" color="light">
          <ion-icon name="ios-arrow-round-back" slot="start"></ion-icon>
          Back
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide>
      <div class="swiper-zoom-container">
        <div>
          <img src="assets/imgs/images/{{ img }}" style="height: 250px;">
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

