.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 2rem;
    }
    margin-top: 10px;
}

ion-content {
    --background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
}

ion-slides {
    height: 80%;
}

.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}