<ion-header>
  <ion-toolbar>
    <ion-title>design</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
  <ion-card style="font-size:40px;" text-center *ngFor="let data of testData">
    <ion-card-content style='height:54px;' (click)="nxtpage()">
        {{data.description}}
    </ion-card-content>
  </ion-card>
</ion-content>