<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
  <ion-card class="card" *ngFor="let data of testData">
    <ion-card-content style='height:80px;width:30;font-size:28px;'(click)='bhagavan()'>
        {{data.description}}
        <img style='height: 20px;width: 25px;margin-left: 90%; margin-top: -3%;' src="{{data.image}}" />
    </ion-card-content>
  </ion-card>
</ion-content>